.header
    ul
        li
            .header_option
                p.header_size-name Setting
                input(type ='button' value="Clear" )#header_option-clear
                input(type ='file')#header_option-file

        li
            .header_size
                p.header_size-name Size
                label Height
                input(type ='number' value="600" min = '0')#header_size-height
                label Width
                input(type ='number' value="800" min = '0')#header_size-width


        li
            .header_mouse
                p.header_size-name Position
                p
                  label MouseX:
                    label#mouseX 0
                p
                  label MouseY:
                    label#mouseY 0





















